<footer class="footer">

  <div class="container">

    <div class="footer-content">

      <div>
        <h3>Rabindra Sahu</h3>

        <p>
          Senior Angular Developer & Frontend Engineer
          with 8+ years of experience.
        </p>
      </div>

      <div class="footer-links">
        <a routerLink="/about">About</a>
        <a routerLink="/skills">Skills</a>
        <a routerLink="/projects">Projects</a>
        <a routerLink="/contact">Contact</a>
      </div>

    </div>

    <div class="footer-bottom">
      <p>
        © 2026 Rabindra Sahu. All rights reserved.
      </p>
    </div>

  </div>

</footer>
